.content-home{
    height: 100vh;
    font-family: 'Montserrat', sans-serif;   
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    font-weight: bold;
    font-size: 60px;
    animation-name: backg;
    animation-duration: 12s ;
    animation-iteration-count: infinite;
    animation-timing-function: linear
}

.div-name{
    border: 2px dashed white;
    cursor: pointer;
    padding: 5px;
    font-size: 40px;
    margin: 15px;
}

@keyframes backg{
    0%{background: url("../../img/bg1.jpg")}
    25%{background: url("../../img/bg2.jpg")}
    50%{background: url("../../img/bg3.jpg");}
    100%{background: url("../../img/bg4.jpg")}

}